/* .user__details {
    position: relative;
} */
.user__details {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
.container {
    /* position: absolute; */
    background-color: #fff;
    border-radius: 1rem;
    box-shadow: .2rem 2.5rem 4rem rgba(0, 0, 0, .5);
    padding: 4rem;
    /* top: 20%;
    left: 35.5%; */
    transition: all .2s;
    margin-top: -10rem;
}

.container > h1 {
    margin-top: 0;
}

.container:hover {
    transform: translateY(-0.6rem);
}

.form {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.field {
    display: flex;
    flex-direction: column;
    margin-bottom: 1.5rem;
}

.field > label {
    margin-bottom: .6rem;
}

.field > input {
    height: 2rem;
    width: 20rem;
    padding-left: 1rem;
    outline-color: rgba(230, 32, 154, 0.76);
    outline-offset: 1px;
    border: none;
    background-color: rgb(235, 235, 235);
    border-radius: .5rem;
}
